#header {
    border-bottom: 1px solid grey;
}

#header a {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    color: grey;
    text-decoration: none;
}